/*Isso aqui impede problemas*/
html, body {
    width: 100%;
    overflow-x: hidden;
  }
  /*SOCORRO ACABOU*/
  
  /*TUDO ISSO AQUI SÃO COISAS RELACIONADAS À NAVBAR, MANTER ORGANIZADO*/
  
  nav{
    width: 100% !important;
  }
  
  .Logo {
      width: 6%;
      height: 5%;
      margin-left: 14%; /* Valor negativo para mover a logo para a esquerda */
  }
  
  .bg-custom {
      background-color: #6900f1; /* Cor de fundo personalizada para a barra de navegação */
      height: 120px;
      
  }
  .btn-custom {
      background-color: #F5B35D !important; /* Cor de fundo lilás claro */
      color: white!important; /* Cor das letras brancas */
      border: none !important; /* Remove a borda padrão do botão */
      margin-left: 15%;
      width: 15% !important;
      height: 10% !important;
      padding: 20px 20px !important; 
      
  }
  
  .btn-custom:hover {
      background-color: #330099 !important; /* Cor de fundo mais escura quando o mouse passa por cima */
      color: #bacaff !important; /* Mantém a cor das letras brancas */
      margin-left: 15%;
      width: 15% !important;
      height: 10% !important;
  }
  
  .navbar-nav .nav-link {
      color: #bacaff !important; /* Define a cor do texto para branco e usa !important para prioridade */
      background-color: transparent !important; /* Remove a cor de fundo e a borda do botão */
      border: none !important; /* Remove a borda do botão */
      padding: 0; /* Remove o preenchimento interno do botão */
      font-size: 15px; /* Define o tamanho da fonte */
      margin-right: 25px;
      font-weight: bold;
      font-size: 20px;
  }
  .navbar-nav .nav-link:hover {
    color: #330099 !important; /* Define a cor do texto do botão ao passar o mouse */
    font-weight: bold;
  
  }
  /* Cabou a Navbar */
  
  @media screen and (min-width: 1400px) and (max-width: 1440px){
  
      .Logo {
          width: 6%;
          height: 5%;
          margin-left: 12%; /* Valor negativo para mover a logo para a esquerda */
      }
  
      .bg-custom {
          background-color: #6900f1; /* Cor de fundo personalizada para a barra de navegação */
          height: 100px;
      }
  
      .btn-custom {
      background-color: #F5B35D !important; /* Cor de fundo lilás claro */
      color: white!important; /* Cor das letras brancas */
      border: none !important; /* Remove a borda padrão do botão */
      margin-left: 15%;
      width: 15% !important;
      height: 10% !important;
      padding: 20px 7px !important; 
      
  }
  
  .btn-custom:hover {
      background-color: #330099 !important; /* Cor de fundo mais escura quando o mouse passa por cima */
      color: #bacaff !important; /* Mantém a cor das letras brancas */
      margin-left: 15%;
      width: 15% !important;
      height: 10% !important;
  }
  
  
  }
  
  @media (min-width: 1360px) and (max-width: 1366px){
      
      .Logo {
          width: 6%;
          height: 5%;
          margin-left: 12%; /* Valor negativo para mover a logo para a esquerda */
      }
  
      .bg-custom {
          background-color: #6900f1; /* Cor de fundo personalizada para a barra de navegação */
          height: 90px;
      }
  
      .btn-custom {
      background-color: #F5B35D !important; /* Cor de fundo lilás claro */
      color: white!important; /* Cor das letras brancas */
      border: none !important; /* Remove a borda padrão do botão */
      margin-left: 10%;
      width: 15% !important;
      height: 10% !important;
      padding: 7px 7px !important; 
      
  }
  
  .btn-custom:hover {
      background-color: #330099 !important; /* Cor de fundo mais escura quando o mouse passa por cima */
      color: #bacaff !important; /* Mantém a cor das letras brancas */
      margin-left: 15%;
      width: 15% !important;
      height: 10% !important;
  }
  
  
  
  }
  
  
  @media (min-width: 1550px) and (max-width: 1800px){
  
      .Logo {
          width: 6%;
          height: 5%;
          margin-left: 12%; /* Valor negativo para mover a logo para a esquerda */
      }
  
      .bg-custom {
          background-color: #6900f1; /* Cor de fundo personalizada para a barra de navegação */
          height: 100px;
      }
  
      .btn-custom {
      background-color: #F5B35D !important; /* Cor de fundo lilás claro */
      color: white!important; /* Cor das letras brancas */
      border: none !important; /* Remove a borda padrão do botão */
      margin-left: 10%;
      width: 15% !important;
      height: 10% !important;
      padding: 15px 7px !important; 
      
  }
  
  .btn-custom:hover {
      background-color: #330099 !important; /* Cor de fundo mais escura quando o mouse passa por cima */
      color: #bacaff !important; /* Mantém a cor das letras brancas */
      margin-left: 15%;
      width: 15% !important;
      height: 10% !important;
  }
  
  
  
  
  }